@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

body * {
    font-family: 'Goldman', cursive;
}

#inicio .jumbotron{
    background-image :url('../img/myexp.jpeg');
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #ffffff;
}

#inicio {
    height: 0.4rem;
    background-color: #ffffff;
}

#experiencia .exp-text {
    font-size: 1.5rem;
}