@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body * {
    font-family: 'Architects Daughter', cursive;
}

#inicio .jumbotron {
    background-image: url(../img/eperencia2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #ffffff;
}

#inicio hr {
    height: 0.4rem;
    background-color: white;

}

#sobre-mi .content-header{
    font-size: 1.56rem;
    letter-spacing: 0.2rem;
}

#sobre-mi hr {
    height: 0.1rem;
    background-color: #000000;

}

